<!DOCTYPE html>
<html lang="ko">
<!-- <html lang="en" style="height: 100%"> -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>chart</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- 차트 링크 -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<script>
  function sleep(ms) {
    const wakeUpTime = Date.now() + ms;
    while (Date.now() < wakeUpTime) {}
  }
  function send(){
    const day = document.getElementById('item').value;
    let myData = {
      'key': day
    };

    const init = {
      method: "POST",
      body: JSON.stringify(myData),
      headers: {
        "Content-Type": "application/json"
      },
      credentials : "same-origin"
    }
    fetch('/key', init)
    var a = "{{ url_for('static', filename='image/loding.gif')}}"
    var print01 = "<img src =" + a + ">"
    document.getElementById('container').style.display = 'none';
    document.querySelector('#mass').innerHTML = print01;
    setTimeout(() => {
      location.reload();
    },3000);
    
  }
</script>

<body>
  <br><br><br>
  <center>
    <form>
      <input type="date" id="item" value={{date}} max={{max_date}}>
      <button type="button" onclick = "send()">send</button>
    </form>
  </center>
  <br>
  <center><div id = 'mass' style = ""></div><center>
  <div id = "container" class="container">
    <canvas id="myChart"></canvas>
  </div>

  <!-- 부트스트랩 -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- 차트 -->
  <script>
    var mm = "{{a1}}";
    if (mm != 'no_data'){
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels:[{% for i in a %}'{{ i }}', {% endfor %}] ,
            datasets:[{
              label: '# go in',
              data: [{% for i in data %}{{ i }}, {% endfor %}],
              borderWidth: 1
            }]
          },
          options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              },
              title: {
                  display: true,
                  text: '{{date}}'
              }
          }
      });
    }
    else{
      var a = "{{ url_for('static', filename='image/nope.jfif')}}"
      var print01 = "<img src =" + a + ">"
      document.querySelector('#mass').innerHTML = print01;
    }
  </script>
</body>

</html>